
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


:root {
    --bg-color: #8A817C;
    --text-color: white;
    --main-color: #ae8957;
    --color-1: #E0AFA0;
    --color-2: #BCB8B1;
    --color-3: #463F3A;
    --big-font: 6.6rem;
    --p-font: 1rem;
}

header {
    background: rgba( 70, 63, 58, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgba( 138, 129, 124, 0.17 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body {
    /* background: url('../images/bg2.jpg'); */
    background-color: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto 1fr auto; */
}


/* Navbar Styling */
.navbar ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
}

.navbar-list a{
    color: var(--text-color);
    margin: 0 35px;
    display: inline-block;
    align-items: center;
    text-decoration: none;
}

.navbar button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    height: 30px;
    width: 100px;
    padding: 10 px;
    box-shadow: 0 0 20px #8A817C;
    transition: all .6s ease;
}

.navbar button:hover {
    background-color: #463F3A;
    color: white;
    transform: translateY(-5px);
}

.navbar-list a:hover {
    color: black;
}

.reg {
    color: #463F3A;
    background-color: #F4F3EE;
  }

.logo {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-3);
    width: 40%;
}

/* Scroll Container */
#scroll-container {
    width: 100%; /* Full width */
    overflow: hidden; /* Hide overflowing content */
    background-color: rgba(70, 63, 58, 0.2);
    margin-top: 150px;
    border-radius: 5px;
  }
  
  /* Scroll Text */
  #scroll-text {
    display: flex; /* Align items in a row */
    width: max-content; /* Let content width determine size */
    animation: scroll-animation 15s linear infinite; /* Animation for infinite scroll */
  }
  
  #scroll-text .element {
    display: flex;
    align-items: center;
    margin-right: 200px; /* Spacing between elements */
    color: white;
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  #scroll-text i {
    margin-right: 20px; /* Space between icon and text */
  }
  
  /* Scroll Animation */
  @keyframes scroll-animation {
    0% {
      transform: translateX(-100%); /* Start at the initial position */
    }
    100% {
      transform: translateX(0%); /* Move left by half the container's width */
    }
  }


/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }